# Archivos de sistema
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Archivos temporales
*.log
*.tmp

# Archivos de backup
*.bak
*.backup

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Variables de entorno
.env
.env.local
.env.production
config.js

# Archivos sensibles
*.key
*.pem
*.cert
